<footer id="footer" class="footer">
    <div class="overlay overlay-black-80"></div>
    <div class="container container-inner">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <h2><span class="light">График</span> <span class="light">работы:</span></h2>
                <ul class="contacts">
                    <li><i class="fa fa-clock-o"></i> Будни <span class="bold clock">9:00 - 18:00</span>
                    </li>
                    <li><i class="fa fa-clock-o"></i> Выходные <span class="bold clock">10:00 - 17:00</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2><span class="light">Контакты:</span></h2>
                <ul class="contacts">
                    <li><i class="fa fa-phone"></i>+7 (983) 320 60 35</li>
                    <li><i class="fa fa-envelope"></i><a href="mailto:nastya@fruit.com">nastya@fruit.com</a></li>
                </ul>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</footer>