{% load app_tags %}
<section id="topNavigation" class="top-navigation">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container container-inner">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-menu-collapse">
                    <span class="sr-only">Навигация</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}" title="{% site_name %}">
                    <img src="{{ STATIC_URL }}public/assets/img/logo/logo-orange.png" class="img-responsive"
                         alt="{% site_name %}">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="top-menu-collapse">
                <ul id="top-menu" class="nav navbar-nav navbar-left">
                    <li><a href="{% url 'index' %}" title="Главная">Главная</a></li>
                    {% menu_link %}
                </ul>
            </div>
        </div>
    </nav>
</section>