<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ STATIC_URL }}public/assets/css/bootstrap.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}public/assets/css/font-awesome.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}public/assets/css/socicons.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}public/assets/css/hover.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}public/assets/css/owlcarousel.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}public/assets/css/animate.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}public/assets/css/style-green.css"/>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800,900' rel='stylesheet'
          type='text/css'>
    <link rel="shortcut icon" href="{{ STATIC_URL }}public/assets/img/ico/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ STATIC_URL }}public/assets/img/ico/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}public/assets/img/ico/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="114x114"
          href="{{ STATIC_URL }}public/assets/img/ico/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="144x144"
          href="{{ STATIC_URL }}public/assets/img/ico/apple-touch-icon-144x144.png"/>

</head>
<body id="pageTop">
{% include '__loading.html' %}
{% include '__navigation.html' %}
<header class="header default-header">
    {% block header %}{% endblock %}
</header>
{% block content %}
    {{ content }}
{% endblock %}
{% include '__footer.html' %}
<!--[if lt IE 9]>
        <script src="{{ STATIC_URL }}public/assets/js/html5shiv.min.js"></script>
        <script src="{{ STATIC_URL }}public/assets/js/respond.min.js"></script>
        <![endif]-->
<!-- Scripts -->
<script src="{{ STATIC_URL }}public/assets/js/jquery.js"></script>
<script src="{{ STATIC_URL }}public/assets/js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}public/assets/js/jquery.cookie.js"></script>
<script src="{{ STATIC_URL }}public/assets/js/smoothscroll.js"></script>
<script src="{{ STATIC_URL }}public/assets/js/html5shiv.js"></script>
<script src="{{ STATIC_URL }}public/assets/js/scrollto.js"></script>
<script src="{{ STATIC_URL }}public/assets/js/imagesloaded.js"></script>
<script src="{{ STATIC_URL }}public/assets/js/parallax.js"></script>
<script src="{{ STATIC_URL }}public/assets/js/owlcarousel.js"></script>
<script src="{{ STATIC_URL }}public/assets/js/easing.js"></script>
<script src="{{ STATIC_URL }}public/assets/js/cbpFWTabs.js"></script>
<script src="{{ STATIC_URL }}public/assets/js/masonry.js"></script>
<script src="{{ STATIC_URL }}public/assets/js/application.js"></script>
<script type="text/javascript">
    APP.init();
    APP.stickynav();
    APP.parallax();
    APP.owlCarousel();
    APP.CBPFWTabs();
    APP.portfolio();
    APP.spinner();
</script>
</body>
</html>