{% extends 'base.html' %}
{% load cropping %}
{% load thumbnail %}
{% block title %}{% endblock %}
{% block keywords %}{% endblock %}
{% block description %}{% endblock %}
{% block content %}
    <section class="portfolio" id="portfolio">
        <div class="container">
            <h1 class="text-center"><span class="light">Портфолио</span></h1>

            <div class="zigzag"><i class="fa fa-image"></i></div>
            <div class="btn-toolbar filters text-center">
                <div data-toggle="buttons" class="text-center">
                    {% if categories %}
                        {% for category in categories %}
                            <label class="btn btn-default">
                                <input type="checkbox" value="category-{{ category.id }}">{{ category.name }}
                            </label>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <ul class="portfolio-items">
                {% if products %}
                    {% for product in products %}
                        <li class="item category-{{ product.category.id }}">
                            <div class="item-container">
                                <figure>
                                    <a href="{% url 'product' pk=product.id %}" title="{{ product.name }}">
                                        <img src="{% cropped_thumbnail product "cropping" %}" alt="{{ product.name }}"/>
                                    </a>
                                    <figcaption>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h3>{{ product.name }}</h3>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </section>
{% endblock %}