{% extends 'base.html' %}
{% load cropping %}
{% load thumbnail %}
{% block title %}{% endblock %}
{% block keywords %}{% endblock %}
{% block description %}{% endblock %}
{% block header %}
    <div class="header-img">
        <div class="overlay overlay-black-70"></div>
    </div>
{% endblock %}
{% block content %}
    <section class="shop-item" id="shopItem">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="image-zoom">
                        <img src="{% cropped_thumbnail product "cropping" %}" class="img-responsive"
                             alt="{{ product.name }}">
                        <span class="zoom-icon triangle-button"></span>
                    </div>
                    {% if product.galleryproduct %}
                        <div class="mini-gallery-owl-carousel">
                            {% for gallery in product.galleryproduct %}
                                <div class="item product margin-5">
                                    <figure>
                                        <img src="{{ gallery.image }}" class="img-responsive"
                                             alt="{{ product.name }}">
                                    </figure>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <h1><span class="light">{{ product.name }}</span></h1>

                    <p class="small">{{ product.description | safe }}</p>
                    <hr>
                    <div class="clearfix">
                        <span class="price" id="itemPrice">123</span>
                    </div>

                    <hr>

                </div>
            </div>
        </div>
    </section>
{% endblock %}