{% if pages %}
    {% for page in pages %}
        <li>
            <a href="{% url 'page_detail' slug=page.slug %}" title="{{ page.title }}">
                {{ page.title }}
            </a>
        </li>
    {% endfor %}
{% endif %}