<!-- ***** Socialbar ***** -->
<div id="socialbar" class="socialbar socialbar-fixed socialbar-radius colorizesocial right hidden-xs">
    <ul>
        <li><a class="socicon socicon-facebook" href="shop-item.html#" title="Facebook"></a></li>
        <li><a class="socicon socicon-youtube" href="shop-item.html#" title="YouTube"></a></li>
        <li><a class="socicon socicon-pinterest" href="shop-item.html#" title="Pinterest"></a></li>
        <li><a class="socicon socicon-twitter" href="shop-item.html#" title="Twitter"></a></li>
        <li><a class="socicon socicon-google" href="shop-item.html#" title="Google"></a></li>
    </ul>
</div><!-- /.socialbar -->